{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ToDoApp</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>
	

<div class="center-column">

<h3>To Do</h3>
<form method="POST" action="">
	{% csrf_token %}
	{{form.name}}
	<input type="submit" name="Create Task" class="btn btn-info">
</form>


{% for task in tasks %}
<div class="item-row">
	<a href="{% url 'update' task.id %}" class="btn btn-sm btn-info">Update</a>
	<a href="{% url 'delete' task.id %}" class="btn btn-sm btn-danger">Delete</a>

	{% if task.complete %}
	<strike>{{task}}</strike>
	{% else %}
	<span>{{task}}</span>
	{% endif %}

</div>
{% endfor %}

</div>
</body>
</html>

